/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background:lightgrey;
}

h1 {
  font-size: 80px;
}

h3 {
  font-size: 30px;
}

/* Giving our navbar some padding and a background color */
.navbar {
  padding: 10px;
  background:whitesmoke;
}

.row{
    background: whitesmoke;
    padding: 10px;
}

.row h3{
    color:dodgerblue;
}