/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background:lightgrey;
}

/* Giving our navbar some padding and a background color */
/* Add a black background color to the top navigation */
.topnav {
    background-color:whitesmoke;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: dodgerblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: whitesmoke;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color:dodgerblue;
    color: lightgray;
}

/*Format paragraphs */
.row{
    background: whitesmoke;
    padding: 10px;
}

.row h3{
    color:dodgerblue;
}